.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

h2 {
  color: #fb8500;
}

.search {
  width: 30%;
}

ul li {
  font-size: 20px;
  margin: 0;
  list-style-type: none;
} 

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

li {
  width: calc(25% - 25px);
}